@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff");
}
@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/Lato-BoldItalic.woff2") format("woff2"), url("../fonts/Lato-BoldItalic.woff") format("woff");
}
.page {
  font-family: "Montserrat";
  color: #8d81ac;
  font-size: 16px;
  font-weight: 400;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 480px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  outline: none;
}

.heading {
  font-size: 48px;
  font-weight: 700;
  color: #fff;
  text-align: center;
}
@media (max-width: 1200px) {
  .heading {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .heading {
    font-size: 38px;
  }
}
@media (max-width: 576px) {
  .heading {
    font-size: 32px;
  }
}

.burger {
  position: relative;
  width: 17px;
  height: 10px;
}
.burger__wrapper {
  position: absolute;
  right: 0;
  top: 50%;
  display: none;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 38px;
  background-color: #000;
}
.burger span {
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 17px;
  height: 2px;
}
.burger:before, .burger:after {
  content: "";
  background-color: #fff;
  position: absolute;
  width: 17px;
  height: 2px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.burger:before {
  top: 0;
}
.burger:after {
  bottom: 0;
}
.burger.active span {
  display: none;
}
.burger.active:before {
  top: 50%;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.burger.active:after {
  top: 50%;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.github-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #24292f;
  border: 1px solid rgba(27, 31, 36, 0.15);
  border-radius: 6px;
  font-size: 12px;
  line-height: 20px;
}
.github-btn__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  padding: 3px 12px;
  background-color: #f6f8fa;
  border-right: 1px solid rgba(27, 31, 36, 0.15);
  border-radius: 6px 0 0 6px;
}
.github-btn__name:hover {
  background-color: #e6e6e6;
}
.github-btn__value {
  padding: 0 8px;
}

.pricing-btn {
  position: absolute;
  bottom: 37px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 12px 36px;
  font-family: "Montserrat";
  font-size: 15px;
  color: #fff;
  border-radius: 21px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.15);
  border: none;
}
.pricing-btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.pricing-btn--active {
  bottom: 47px;
  font-size: 16px;
  padding: 16px 48px;
  border-radius: 26px;
}

.editor {
  padding-top: 150px;
  padding-bottom: 70px;
}
.editor__github-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  row-gap: 20px;
}
.editor__wrapper {
  margin: 0 auto;
  max-width: 900px;
}
.editor__heading {
  text-align: center;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-size: 54px;
  font-weight: 700;
  color: #635c73;
}
@media (max-width: 992px) {
  .editor__heading {
    font-size: 42px;
  }
}
@media (max-width: 768px) {
  .editor__heading {
    font-size: 35px;
  }
}
@media (max-width: 768px) {
  .editor__heading {
    font-size: 26px;
  }
}
.editor__text {
  margin: 30px auto;
  text-align: center;
  font-size: 21px;
  color: #323232;
}
@media (max-width: 768px) {
  .editor__text {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .editor__text {
    font-size: 14px;
  }
}

.getting {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  padding-top: 100px;
  padding-bottom: 30px;
  background-color: #f4f4f4;
}
@media (max-width: 992px) {
  .getting {
    display: block;
    padding-top: 200px;
    background-color: #fff;
  }
}
.getting__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}
.getting__right {
  position: relative;
  margin-bottom: 20px;
  top: 50px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}
@media (max-width: 992px) {
  .getting__right {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
}
@media (max-width: 576px) {
  .getting__right {
    padding-left: 20px;
  }
}
.getting__img {
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
}
@media (max-width: 992px) {
  .getting__img {
    position: relative;
    width: 100%;
  }
}
.getting__content {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 33px;
  padding-right: 50px;
}
@media (max-width: 1200px) {
  .getting__content {
    padding-right: 0;
  }
}
@media (max-width: 992px) {
  .getting__content {
    width: 100%;
  }
}
.getting__content-img {
  display: block;
  min-width: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 576px) {
  .getting__content-img {
    margin-bottom: 27px;
  }
}
.getting__content-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 23px;
}
@media (max-width: 576px) {
  .getting__content-item {
    display: block;
  }
}
.getting__content-heading {
  font-size: 16px;
  font-weight: 400;
  color: #323232;
  margin-bottom: 16px;
}
@media (max-width: 576px) {
  .getting__content-heading {
    text-align: center;
  }
}
.getting__content-text {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  color: #848e97;
}
@media (max-width: 576px) {
  .getting__content-text {
    text-align: center;
  }
}
.getting__heading {
  position: absolute;
  top: 90px;
  left: 50%;
  text-align: left;
  padding-left: 20px;
  width: 100%;
  color: #8d81ac;
}
@media (max-width: 992px) {
  .getting__heading {
    padding-left: 0;
    top: 100px;
    left: 50%;
    text-align: center;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
@media (max-width: 576px) {
  .getting__heading {
    top: 70px;
    width: 300px;
  }
}

.testimonialis {
  background-image: url("../img/people_opinion/testmonials-bg.png");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 108px;
  padding-bottom: 5px;
}

.testimonialis-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 100px;
  grid-row-gap: 87px;
}
@media (max-width: 992px) {
  .testimonialis-list {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[3];
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 88px;
    grid-row-gap: 63px;
  }
}
@media (max-width: 576px) {
  .testimonialis-list {
    grid-column-gap: 50px;
    grid-row-gap: 40px;
  }
}
@media (max-width: 480px) {
  .testimonialis-list {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }
}

.testimonialis-list--position {
  margin-top: 82px;
}

.testimonialis__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.testimonialis__list-item-text-content {
  font-family: "Lato";
  font-weight: 700;
  font-style: italic;
  color: #fff;
  text-align: center;
  margin-top: 1.5em;
}

.testimonialis-footer__text-content {
  font-family: "Lato";
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  margin-top: 115px;
  padding-bottom: 10px;
  color: rgb(162, 145, 165);
  position: relative;
}
@media (max-width: 992px) {
  .testimonialis-footer__text-content {
    margin-top: 70px;
  }
}
@media (max-width: 576px) {
  .testimonialis-footer__text-content {
    margin-top: 30px;
  }
}

.testimonialis-footer__line {
  display: block;
  width: 80%;
  height: 2px;
  background: rgb(100, 87, 102);
  margin: 0 auto;
}

.header {
  background-image: url("../img/header/header_background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
}
@media (max-width: 480px) {
  .header-wrapper {
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
  }
}

.header--background-color {
  position: relative;
  width: 100%;
}
@media (max-width: 992px) {
  .header--background-color {
    background-color: rgb(39, 38, 42);
    height: 118px;
  }
}
@media (max-width: 480px) {
  .header--background-color {
    max-height: 104px;
  }
}

.header__logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 17px;
}
.header__logo-wrapper:hover {
  color: #fff;
}
.header__logo-wrapper:hover .header__logo-image--white {
  display: block;
}

.header_logo-image {
  position: relative;
}

.header__logo-image--white {
  position: absolute;
  display: none;
}

.header__logo-text {
  font-family: "Lato";
  font-weight: 700;
  font-size: 24px;
  line-height: 16px;
  text-transform: uppercase;
}
@media (max-width: 480px) {
  .header__logo-text {
    display: none;
  }
}

.header-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 48px;
}

.header-navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.875em;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media (max-width: 992px) {
  .header-navbar__list {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    top: 90px;
  }
}
@media (max-width: 576px) {
  .header-navbar__list {
    gap: 20px;
    max-width: 500px;
  }
}
@media (max-width: 480px) {
  .header-navbar__list {
    margin-bottom: 0;
    background-color: rgb(51, 51, 51);
    width: 90%;
    position: absolute;
    top: 276px;
    right: 0;
    display: none;
  }
  .header-navbar__list--active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 6px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 480px) {
  .header-navbar__list-item {
    padding: 29px 0 21px 35px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid rgb(59, 59, 59);
  }
}

.header-navbar__links {
  font-weight: 700;
  font-size: 16px;
  color: #8D81AC;
  white-space: nowrap;
}
.header-navbar__links:hover {
  color: #fff;
}
@media (max-width: 480px) {
  .header-navbar__links {
    font-weight: 400;
    font-size: 26px;
    color: #fff;
  }
  .header-navbar__links:focus {
    color: #8D81AC;
  }
  .header-navbar__links:focus::before {
    content: "";
    position: absolute;
    left: 5px;
    top: calc(50% - 26px);
    display: block;
    height: 53px;
    width: 8px;
    background-color: rgb(141, 129, 172);
  }
}

.primary-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 17px;
  color: #fff;
  border: 1px solid #8D81AC;
  border-radius: 20px;
  background-color: #8D81AC;
  padding: 10px 35px;
}
.primary-btn:hover {
  color: #8D81AC;
  background-color: #fff;
}

@media (max-width: 480px) {
  .primary-btn__navbar--position {
    position: absolute;
    left: calc(50% - 48px);
  }
}

.header-tittle {
  font-weight: 700;
  font-size: 82px;
  line-height: 82px;
  text-align: center;
  color: #fff;
  margin-top: 112px;
}
@media (max-width: 768px) {
  .header-tittle {
    font-size: 72px;
    margin-top: 68px;
  }
}
@media (max-width: 540px) {
  .header-tittle {
    font-size: 42px;
  }
}

.header-subtittle {
  font-family: "Lato";
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  margin-top: 19px;
}
@media (max-width: 768px) {
  .header-subtittle {
    font-size: 24px;
  }
}
@media (max-width: 540px) {
  .header-subtittle {
    font-size: 18px;
  }
}

.header-version-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #848e97;
  text-align: center;
  margin-top: 20px;
  padding-bottom: 459px;
}
@media (max-width: 768px) {
  .header-version-text {
    font-size: 14px;
    margin-top: 14px;
  }
}

.burger-icon {
  width: 44px;
  height: 37px;
  position: absolute;
  right: 0;
  z-index: 6;
  display: none;
}
@media (max-width: 480px) {
  .burger-icon {
    display: inline-block;
  }
}

.burger-icon__line {
  width: 26px;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #ffffff;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}
.burger-icon__line:nth-of-type(2) {
  left: 35%;
  top: calc(50% - 5px);
  width: 13px;
}
.burger-icon__line:nth-of-type(3) {
  top: calc(50% + 5px);
}

.burger-icon__line--active:nth-of-type(1) {
  display: none;
}
.burger-icon__line--active:nth-of-type(2) {
  width: 26px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
      -ms-transform: translate(-50%, 0%) rotate(45deg);
          transform: translate(-50%, 0%) rotate(45deg);
}
.burger-icon__line--active:nth-of-type(3) {
  top: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(-45deg);
      -ms-transform: translate(-50%, 0%) rotate(-45deg);
          transform: translate(-50%, 0%) rotate(-45deg);
}

.header-footer {
  position: relative;
}

.primary-btn__header--position {
  font-size: 21px;
  padding: 1.4rem 3.84rem;
  white-space: nowrap;
  position: absolute;
  border-radius: 34px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media (max-width: 480px) {
  .primary-btn__header--position {
    font-size: 18px;
    padding: 13px 29px;
  }
}

.header-footer__text {
  font-size: 14px;
  white-space: nowrap;
  color: rgb(132, 142, 151);
  margin-top: 50px;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.pricing {
  padding-top: 115px;
  padding-bottom: 73px;
  background-image: url("../img/pricing/pricing_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 992px) {
  .pricing {
    padding-top: 70px;
  }
}

.pricing-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  margin-top: 60px;
}
@media (max-width: 992px) {
  .pricing-list {
    margin-top: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 25px;
  }
}
@media (max-width: 768px) {
  .pricing-list {
    margin-top: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 10px;
  }
}

.pricing-card {
  position: relative;
  width: 257px;
  height: 457px;
  padding-bottom: 37px;
  text-align: center;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.11);
}
@media (max-width: 768px) {
  .pricing-card {
    width: 250px;
  }
}
@media (max-width: 576px) {
  .pricing-card {
    width: 210px;
  }
}
@media (max-width: 480px) {
  .pricing-card {
    width: 257px;
  }
}
.pricing-card--active {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 300px;
  height: 560px;
  background-color: rgba(70, 48, 72, 0.84);
}
@media (max-width: 768px) {
  .pricing-card--active {
    width: 270px;
  }
}
@media (max-width: 576px) {
  .pricing-card--active {
    width: 230px;
  }
}
@media (max-width: 480px) {
  .pricing-card--active {
    width: 300px;
  }
}
.pricing-card__heading {
  padding-top: 34px;
  padding-bottom: 34px;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.06);
}
.pricing-card__heading--active {
  background-color: rgba(0, 0, 0, 0.11);
}
.pricing-card__price {
  margin-top: 20px;
  font-size: 60px;
}
.pricing-card__price--active {
  margin-top: 4px;
  font-size: 82px;
}
.pricing-card__price--bold {
  font-weight: 700;
}
.pricing-card__term {
  margin-top: 10px;
  font-size: 14px;
  text-transform: uppercase;
}
.pricing-card__conditions {
  position: relative;
  margin-top: 80px;
  font-size: 16px;
  line-height: 18px;
}
.pricing-card__conditions::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 5px;
  background-color: #8d81ac;
  top: -40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.pricing-card__conditions--active {
  margin-top: 100px;
}
.pricing-card__conditions--active::before {
  top: -50px;
}